---
import Section from '../../components/Section.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Producción Audiovisual' description='Producción audiovisual'>
  <main>
    <Section
      title='Producción Audiovisual'
      centerTitle
      centerMdTitle
      class='pt-40 pb-20'
    >
      <div
        class='grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-content-center'
      >
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/koHN_InIHfk?si=aA2kIn8MCaMuszGa'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen
        >
        </iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/gtTJ5a3kwR0?si=nHu2R9Hos3bsBxdi'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen
        >
        </iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/WRNeLSlE0Ec?si=LnG5JtCxP2rOfRrq'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen
        >
        </iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/O6R6NPJJWXo?si=vUqHa5T386OpWuMA'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen
        >
        </iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/Tywerd-EU34?si=kz-EoMIbW41bd8-t'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/GRVngmdsHJo?si=q4RX796azh7ee5JC'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/UpLQRH2EXjc?si=c_2eaABbqNJ_Us2l'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/cBBGqAra8iQ?si=ZbpEspLNZbJZAKcg'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/R-GU6TArSF0?si=QZtEUCNjie04aQ9Z'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/YKk3-yuvuzw?si=cX-__mNIcAcPxJ0A'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/IatOB-gUlww?si=Z_igFMZTlddfkGAs'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/_NmYEOf8Rnk?si=wNX06kjxpHPK54nV'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/_NmYEOf8Rnk?si=wNX06kjxpHPK54nV'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/BV46e7QTHOo?si=AF3ZF1Kyj6IhAEyO'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/F6l34aaXE5E?si=ZxmavCidRja9yqAK'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
        <iframe
          class='h-[300px] w-full'
          src='https://www.youtube.com/embed/A_7MOXn1dN4?si=c3CHRmW_HpvM64Pn'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
      </div>
    </Section>
  </main>
</Layout>
