---
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import Novelty from '../components/News/Novelty.astro'
---

<Layout title='Novedades' description='Novedades'>
  <header class='custom-container pt-40 pb-20'>
    <h1 class='text-center font-bold text-3xl md:text-4xl'>Novedades</h1>
  </header>
  <main>
    <Section class='pb-20' centerTitle={true} centerMdTitle={true}>
      <Novelty />
    </Section>
    <div class='pb-20'>
      <h2 class='text-3xl font-bold text-center mb-10'>Proyecto Revista</h2>
      <div class='custom-container grid gap-10 md:grid-cols-2 lg:grid-cols-3'>
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista1.webp?alt=media&token=33e0abaa-99d6-44f2-ad53-296fb0a54ce5'
          alt='Revista 1'
        />
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista2.webp?alt=media&token=47af6c17-cd73-4cf8-bc6f-9222586bfd4a'
          alt='Revista 2'
        />
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista3.webp?alt=media&token=9a410dfa-4158-4da7-9ed8-fb5629277cdc'
          alt='Revista 3'
        />
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista4.webp?alt=media&token=2174e95f-ade7-453a-adc1-814651e028ea'
          alt='Revista 4'
        />
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista5.webp?alt=media&token=8fdececc-aeb3-4741-802b-cb40659703bf'
          alt='Revista 5'
        />
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista6.webp?alt=media&token=f91d52dd-5f90-408c-a0cd-39b5358316cc'
          alt='Revista 6'
        />
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista7.webp?alt=media&token=a8e48537-897c-4e81-9741-f8ea65cd73a8'
          alt='Revista 7'
        />
      </div>
    </div>
  </main>
</Layout>
