---
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import Novelty from '../components/News/Novelty.astro'
---

<Layout title='Novedades' description='Novedades'>
  <header class='custom-container pt-40 pb-20'>
    <h1 class='text-center font-bold text-3xl md:text-4xl'>Novedades</h1>
  </header>
  <main>
    <div class='pb-20'>
      <h2 class='text-3xl font-bold text-center mb-10'>Proyecto Revista</h2>
      <div class='custom-container grid gap-10 md:grid-cols-2 lg:grid-cols-3'>
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista8.webp?alt=media&token=c14e4c5a-e495-42c3-89d1-c52bebc2fa70'
          alt='Revista 7'
        />
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista1.webp?alt=media&token=278f09e1-f7ab-40df-98b8-63dd5382efbf'
          alt='Revista 1'
        />
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista2.webp?alt=media&token=f4390ce4-a8f6-4959-9936-a4fbdf2f80dc'
          alt='Revista 2'
        />
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista3.webp?alt=media&token=bfd44253-fdf4-41a0-a71c-4f33f0b8f6c9'
          alt='Revista 3'
        />
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista4.webp?alt=media&token=38471e23-5122-458a-abcb-d34ce4ab8c14'
          alt='Revista 4'
        />
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista6.webp?alt=media&token=42ba98a8-0dd8-4519-9fcb-dc07c7c7f0f7'
          alt='Revista 5'
        />
        <img
          src='https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/revista7.webp?alt=media&token=f489643e-f021-4473-8450-6d3d01b63888'
          alt='Revista 6'
        />
      </div>
    </div>
    <Section
      title='Novedades'
      class='pb-20'
      centerTitle={true}
      centerMdTitle={true}
    >
      <Novelty />
    </Section>
  </main>
</Layout>
