---
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import Novelty from '../components/News/Novelty.astro'
---

<Layout title='Novedades' description='Novedades'>
  <main>
    <Section
      title='Novedades'
      class='pt-40 pb-20'
      centerTitle={true}
      centerMdTitle={true}
    >
      <Novelty />
    </Section>
  </main>
</Layout>
