---
import Section from '../components/Section.astro'
import StudyMaterial from '../components/Students/StudyMaterial.astro'
import Future from '../components/Students/Future.astro'
import Layout from '../layouts/Layout.astro'
import ImportantFiles from '../components/Students/ImportantFiles.astro'
---

<Layout title='ESOEF N56 - Estudiantes' description='ESOEF N56 - Estudiantes'>
  <header class='custom-container pt-40 pb-20'>
    <h1 class='text-center font-bold text-3xl md:text-4xl'>Estudiantes</h1>
  </header>
  <main>
    <Section
      class='pb-20'
      title='Archivos importantes'
      centerTitle
      centerMdTitle
    >
      <ImportantFiles />
    </Section>
    <Section
      class='pb-20'
      title='Material de estudio'
      centerTitle
      centerMdTitle
    >
      <StudyMaterial />
    </Section>
    <Section class='pb-20' title='Tu futuro' centerTitle centerMdTitle>
      <Future />
    </Section>
  </main>
</Layout>
