<header class="main-header text-secondary">
  <div
    class="container h-full flex flex-col gap-4 items-center justify-center text-center text-balance"
  >
    <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl">
      Escuela de Educación Secundaria N°56
    </h1>
    <h2 class="font-bold text-2xl md:text-3xl lg:text-4xl">Educación física</h2>
    <h3 class="text-xl md:text-2xl lg:text-3xl">Lanús Oeste</h3>
  </div>
</header>
<style>
  :root {
    --gradient: linear-gradient(30deg, #aae8ffe4, #2689f2b8);
  }
  .main-header {
    height: calc(100vh - 80px);
    background: var(--gradient), url(students-banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
  }
</style>
