<div
  class="flex flex-col gap-5 items-center md:flex-row md:justify-center md:gap-10"
>
  <picture class="w-full max-w-[400px]">
    <img
      class="border border-tertiary w-full"
      src="https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/school-garden.webp?alt=media&token=c27c0277-1190-47d7-9878-5b53ae6bd467"
      alt="Frente de la escuela"
      title="Frente de la escuela"
    />
  </picture>
  <p class="leading-8 text-pretty w-full max-w-[400px]">
    Bienvenidos al sitio web de la Escuela de Educación Secundaria N° 56 “El
    Polo educativo”. Desde este espacio vamos a intentar generar la comunicación
    y el intercambio entre estudiantes, docentes y la comunidad. El mismo
    permanecerá en un estado de construcción y cambio, de forma permanente.
  </p>
</div>
