---
import Button from './Button.astro'
interface Props {
  title: string
  description: string
  link: string
}
const { title, description, link } = Astro.props
---

<div
  class='h-full w-full bg-[var(--primary-color)] p-5 shadow shadow-[var(--black)]'
>
  <h5 class='mb-2 text-xl font-bold tracking-tight'>{title}</h5>
  <p class='mb-3 leading-8 text-pretty'>
    {description}
  </p>
  <Button>Abrir</Button>
</div>
