<div class="flex flex-col items-center gap-10 md:flex-row md:justify-evenly">
  <img
    src="https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/unla.webp?alt=media&token=897e471f-d75e-4b79-b4f4-965269fadd84"
    class="max-w-[120px] border-2 border-tertiary transition-all duration-300 cursor-pointer hover:scale-110"
    alt="Logo UNLa"
    title="Logo UNLa"
  />
  <img
    src="https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/unlz.webp?alt=media&token=8dc075a9-ba7c-489d-8969-1b7b132d93a0"
    class="max-w-[120px] border-2 border-tertiary transition-all duration-300 cursor-pointer hover:scale-110"
    alt="Logo UNLa"
    title="Logo UNLa"
  />
  <img
    src="https://firebasestorage.googleapis.com/v0/b/ees56-826e3.appspot.com/o/undav.webp?alt=media&token=68e76ec5-f7d6-4fea-a074-40354ceed054"
    class="max-w-[120px] border-2 border-tertiary transition-all duration-300 cursor-pointer hover:scale-110"
    alt="Logo UNLa"
    title="Logo UNLa"
  />
</div>
