---
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
import SidebarNav from '../components/SidebarNav.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='min-h-screen grid grid-rows-[1fr,auto]'>
    <Navbar />
    <SidebarNav />
    <slot />
    <Footer />
    <script
      is:inline
      src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js'
    ></script>
  </body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

  :root {
    --primary-color: #aae8ff;
    --accent-color: #2687f2;
    --black: #0d2d52;
    --white: #e4f8fe;
    --gradient: linear-gradient(30deg, #aae8ffe4, #2689f2b8);
  }

  html {
    font-family: 'Inter', sans-serif;
    background-color: var(--white);
    color: var(--black);
  }

  .custom-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
</style>
